# Django
SECRET_KEY=your-super-strong-secret-key
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com

# PostgreSQL
POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=your-strong-password
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/1

# Arvan Cloud
ARVAN_ACCESS_KEY=your-access-key
ARVAN_SECRET_KEY=your-secret-key
ARVAN_ENDPOINT=https://s3.ir-tbz-sh1.arvanstorage.ir
ARVAN_BUCKET=onlinshop

# Zarinpal
ZP_MERCHANT_ID=your-merchant-id
ZP_API_REQUEST=https://payment.zarinpal.com/pg/v4/payment/request.json
ZP_API_VERIFY=https://payment.zarinpal.com/pg/v4/payment/verify.json

# Email
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# Other
APIKEY=your-api-key