# Virtual Environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
celerybeat-schedule*
# Migrations 
# */migrations/*.py
# !*/migrations/__init__.py
# Static files
staticfiles/