{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'orders/css/cart.css' %}">
{% endblock %}

{% block content %}
<table class="cart-simple-table">
  <thead>
    <tr>
      <th>#</th>
      <th>نام</th>
      <th>تعداد</th>
      <th>قیمت واحد</th>
      <th>قیمت کل</th>
      <th>حذف از سبد خرید</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.product }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.total_price }}</td>
      <td><a href="{% url 'orders:cart_remove' item.product.id %}" >remove</a></td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="4">مجموع کل سفارش</td>
    <td colspan="1">{{ cart.get_total_price }}</td>
  </tr>

  </tbody>
</table>
{% if cart|length > 0 %}
    <a href="{% url 'orders:order_create' %}" class="btn btn-success">
        ثبت سفارش نهایی
    </a>
{% else %}
    <p class="text-muted">سبد خرید شما خالی است!</p>
{% endif %}
<script src="{% static 'orders/js/cart.js' %}"></script>
{% endblock %}